.filter-container {
    margin: 2em 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filter-select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.filter-select {
    width: 10rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    background-color: #7980FF;
    color: white;
    outline: none;
}

.filter-select:hover {
    cursor: pointer;
}

.filter-select option {
    background-color: #7980FF;
    color: white;
}