.header {
  background-color: #7980FF;
  color: white;
  padding: 1rem;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* Center title */
.title {
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

/* Slide-out side menu */
.side-menu {
  position: fixed;
  top: 0;
  left: -40em;
  width: 5em;
  height: 20%;
  background-color: #7980FF;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: 0.3s ease;
  z-index: 1000;
}

.side-menu.open {
  left: 0;
}

.side-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

/* Cart icon */
.cart {
  font-size: 1.8rem;
  position: relative;
}

.cart-number {
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 0.8rem;
}

/* Slide-out cart menu */
.cart-panel {
  position: fixed;
  top: 0;
  right: -40em;
  width: 50%;
  height: auto;
  background-color: #7980FF;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: 0.3s ease;
  z-index: 1000;
}

.cart-panel * {
  color: white;
}

.cart-panel.open {
  right: 0;
}

/* Cart Items */
.cart-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: .5rem 0;
  border-bottom: 1px solid black;
}

.cart-item img {
  width: 6em;
  height: 10em;
  border-radius: 8px;
  object-fit: cover;
}

.checkout-btn {
  margin-top: auto;
  background-color: white;
  color: #7980FF;
  padding: 0.75rem 1rem;
  text-align: center;
  font-weight: bold;
  border-radius: 12px;
  text-decoration: none;
}

.cart-total {
  text-align: center;
}

/* Remove item button */
.remove-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0.25rem;
}

.remove-btn:hover {
  color: red;
  transform: scale(1.2);
}