.footer {
    background-color: #7980FF;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    display: flex;
    align-items: center;
}

.footer .copyright {
    margin-right: 0.5rem;
    font-weight: bold;
}
